{% extends "base.html" %} {% load static %}
{% block team_content %}
<div id="teams">
    <h1 id="header">Teams</h1>
    {% for team in teams %}
    <ul id="teams_list">
        <li>{{ team.name }}
            <ul>
                <li>Location: {{ team.abbreviation }}</li>
                <li>Wins: {{ team.primary_color }}</li>
                <li>Losses: {{ team.secondary_color }}</li>
                <li>Logo: {{ team.logo_url }}</li>
            </ul>
        </li>
    </ul>
    {% endfor %}
</div>
{% endblock %}