@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #00080e;
    background-image: url("/static/images/stadium.jpg");      
    background-repeat: no-repeat;
    color: #f8f8f8;
}

.navbar-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
}

.navbar {
    background-color: #f8f8f8;
    border-radius: 50%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    margin-bottom: 18px;
}