<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>UEFA Champions League</title>
</head>
<body>
    <nav class="main-navbar">
        <ul>
            <li><a class="active" href="{% url 'home' %}">Home</a></li>
            <li><a class="" href="{% url 'teams' %}">Teams</a></li>
            <li><a class="" href="{% url 'matches' %}">Matches</a></li>
        </ul>
    </nav>
    <div class="main-header">
        <h1>UEFA Champions League</h1>
    </div>
    <div class="body">
        <div class="column-group">
            <span class="column">
                {% block match_content %}{% endblock %}
            </span>
        </div>
    </div>
</body>
</html>