{% extends "base.html" %} {% load static %}

{% block main_header %}
<h1>UEFA Champions League</h1>
{% endblock %}

{% block team_content %}
<div>
    <h2>Teams</h2>
    {% for team in teams %}
    <ul>
        <li>{{ team.name }}
            <ul>
                <li>Abbreviation: {{ team.abbreviation }}</li>
                <li>Primary Color: {{ team.primary_color }}</li>
                <li>Secondary Color: {{ team.secondary_color }}</li>
            </ul>
        </li>
    </ul>
    {% endfor %}
</div>
{% endblock %}

{% block player_content %}
<div>
    <h2>Players</h2>
    {% for player in players %}
    <ul>
        <li>{{ player.name }}
            <ul>
                <li>Number: {{ player.number }}</li>
                <li>Position: {{ player.position }}</li>
                <li>Team: {{ player.team }}</li>
            </ul>
        </li>
    </ul>
    {% endfor %}
</div>
{% endblock %}

{% block match_content %}
<div>
    <h2>Matches</h2>
    {% for match in matches %}
    <ul>
        <li>{{ match.matchup }}
            <ul>
                <li>Date: {{ match.date_time }}</li>
                <li>Location: {{ match.location }}</li>
                <li>Competition Stage: {{ match.competition_stage }}</li>
                <li>Home Team: {{ match.home_team }}</li>
                <li>Home Team Goals: {{ match.home_team_goals }}</li>
                <li>Away Team: {{ match.away_team }}</li>
                <li>Away Team Goals: {{ match.away_team_goals }}</li>
                <li>Winner: {{ match.winner }}</li>
            </ul>
        </li>
    </ul>
    {% endfor %}
</div>
{% endblock %}