{% extends "base.html" %} {% load static %}
<!-- {% block team_content %}
<div>
    <h1>Teams</h1>
    {% for team in teams %}
    <ul>
        <li>{{ team.name }}
            <ul>
                <li>Abbreviation: {{ team.abbreviation }}</li>
                <li>Primary Color: {{ team.primary_color }}</li>
                <li>Secondary Color: {{ team.secondary_color }}</li>
            </ul>
        </li>
    </ul>
    {% endfor %}
</div>
{% endblock %} -->

{% block player_content %}
<div id="players">
    <h1 id="header">Players</h1>
    {% for player in players %}
    <ul id="players_list">
        <li>{{ player.name }}
            <ul>
                <li>Number: {{ player.number }}</li>
                <li>Position: {{ player.position }}</li>
                <li>Team: {{ player.team }}</li>
            </ul>
        </li>
    </ul>
    {% endfor %}
</div>
{% endblock %}

<!-- {% block match_content %}
<div>
    <h1>Matches</h1>
    {% for match in matches %}
    <ul>
        <li>{{ match.matchup }}
            <ul>
                <li>Date: {{ match.date_time }}</li>
                <li>Location: {{ match.location }}</li>
                <li>Competition Stage: {{ match.competition_stage }}</li>
                <li>Home Team: {{ match.home_team }}</li>
                <li>Home Team Goals: {{ match.home_team_goals }}</li>
                <li>Away Team: {{ match.away_team }}</li>
                <li>Away Team Goals: {{ match.away_team_goals }}</li>
                <li>Winner: {{ match.winner }}</li>
            </ul>
        </li>
    </ul>
    {% endfor %}
</div>
{% endblock %} -->